img{
	display: block;
	margin: auto;
	transition-property: transform;
	transition-duration: 1s;
}

body{
	background-color: black;
}

img:hover{
	transform: scale(0.7, 0.7) rotate(20deg);
}
#blue{
	background-color: blue;
	width: 33%;
	height: 100%;
	float: left;
}

#red{
	background-color: red;
	width: 33%;
	height: 100%;
	float: left;
}

#green{
	background-color: green;
	width: 33%;
	height: 100%;
	float: left;
}