div.img img{
	display: block;
	margin: auto;
	transition-property: transform;
	transition-duration: 1s;
	max-width: 100%;
	max-height: 100%;
}

body{
	background-color: white;
}

div.img img:hover{
	transform: scale(0.7, 0.7) rotate(20deg);
}

#waves{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 80%;
	height: 100%;
}

#blue{
	background-color: blue;
	width: 10%;
	height: 100%;
	float: right;
}
#green{
	background-color: green;
	width: 10%;
	height: 100%;
	float: right;
}

@keyframes move{
	0%{transform: translate(0px, 0px);}
	10%{transform: translate(100px, 100px);}
	50%{transform: translate(500px, 200px);}
	100%{transform: translate(1200px, 550px);}
}

.violin{
	float: left;
	animation-name: move;
	animation-duration: 7s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#violin-1{
	position: absolute; 
	top: 0px; 
	left: 300px;
	animation-delay: 0s;
}

#violin-2{
	position: absolute;
	top:50px;
	left: 100px;
	animation-delay: 0s;
}

#viola{
	position: absolute;
	top:200px;
	left: 100px;
	animation-delay: 3s;
}
#cello{
	position: absolute;
	top:275px;
	left: -70px;
	animation-delay: 5s;
	opacity: .6;
}